body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  color: #333;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 50px 20px;
}

h1 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 30px;
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

textarea {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #333;
  width: 100%;
  height: 150px;
  border: 1px solid #ccc;
  outline: none;
  resize: none;
  padding: 10px;
  margin-bottom: 20px;
}

label {
  color: #666;
  margin-bottom: 10px;
}

.button {
  text-decoration: none;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  background-color: #333;
  border: none;
  margin-top: 10px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.button:hover {
  background-color: #444;
}

.message-board {
  list-style: none;
  margin-top: 20px;
  padding: 0;
}

.message {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.userMessage {
  white-space: pre-line;
}
.message h4 {
  font-size: 20px;
  font-weight: 500;
  color: #333;
  margin-bottom: 5px;
  margin-top: 0; /* Adjusted margin-top to reduce the distance */
}

.message small {
  color: #666;
}

.message p {
  margin: 0;
}

.footer {
  text-align: center;
  margin-top: 30px;
  padding: 20px 0;
  color: #666;
  border-top: 1px solid #ccc;
}
